 <div class="container form-inputs form-actionss">
  <%= simple_form_for event, html: {class:"test"} do |form| %>
    <%= form.input :title, label: "Event Title" %>
    <%= form.input :category, label: "Category", collection: Event::CATEGORIES %>
    <%= form.input :eventdate, label: "Event Date", start_year: Date.today.year %>
    <%= form.button :submit, class: "buttons" %>
  <% end %>
</div>
