<div class="card text-center align-self-center border-0" style="background-color:#ddcecde8">
  <div class="Upload Form">
    <div class="card-body">
      <div class="container">
        <%= simple_form_for(@event) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <% end %>
          <%= f.input :category %>
          <%= f.input :title %>
          <%= f.input :event_date %>
          <%= button_tag(type: 'submit', class: "button") do %>
            Create Event
          <% end %>
        <% end %>
      </div>
      </div>
</div>
</div>
