<div class="d-flex justify-content-center my-5">
  <div class="col-12 col-lg-6">
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" aria-current="true" href="#event-details" data-toggle="tab" role="tab">Event Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#wish-details" data-toggle="tab" role="tab">Wish List</a>
          </li>
        </ul>
      </div>

      <div class="col-md-9">
        <div class="tab-content">
          <div class="tab-pane card-body active" id="event-details" role="tabpanel">
            <h5 class="card-title">Title: <%= @event.title %></h5>
            <p class="card-text">Category: <%= @event.category %></p>
            <p class="card-text">Organiser: <%= @event.user.first_name %></p>
            <p class="card-text">Date: <%= @event.start_time %></p>
            <button type="button"><%= link_to "Back to Events", "/events" %>
            <button type="button"><%= link_to "Delete Event", event_path(@event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
          </div>

          <div class="tab-pane card-body" id="wish-details" role="tabpanel">
            <h5 class="card-title">Title: <%= @wishlist.name %></h5>
            <div class="card-text">
              Gifts:
              <% @wishlist.gifts.each do |gift| %>
                <%= gift.name %>
                <%= gift.description %>
                <%= gift.link %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
  </div>
