<div class="banner">
  <div class="container">
    <h1>Welcome to Gift Hub</h1>
      <h1>The Ultimate Event and Wishlist Platform</h1>
      <br>
    <div class="secondary-text">
        <h2 class="second-title">Create. Add. Share. Gift Time!</h2>
    </div>
      <br>
      <button type="button" class="button" style="--bs-btn-padding-y: 25px;"><%= link_to "Create Event!", "/events/new" %></button>
        <br>
      <div class="arrow-container animated fadeInDown">
        <div class="arrow-2">
          <i class="fa fa-angle-down fa-2x"></i>
        </div>
        <div class="arrow-1 animated hinge infinite zoomIn"></div>
      </div>
  </div>
</div>

  <div class="section-title-one">
    <div class="container w-50">
      <h2 class="fw-bold">How it works</h2>
      <p>
          Create your event and invite your friends and family to join!
          Make sure they bring the right gift, with your wishlist created by you. They pick and claim the gift they want to get you. Simple.
      </p>
    </div>
  </div>

<div class="container" id="info">
  <div class="row">
    <div class="explainer-left">
      <div class="text">
        <h1 class="h1text" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">1. Create Event</h1>
        <p style="transform: translate3d(0px, 0px, 0px); opacity: 1;">Create your event, for literally anything! Build it within minutes. No hassel or worry, through our simple journey experience.</p>
        <div class="a" style="transform: translate3d(0px, 0px, 0px); opacity: 1;"></div>
      </div>
        <div class="img-wrapper">
          <%= image_tag("event.jpg") %>
        </div>
      </div>
    </div>

    <div class="row">
    <div class="explainer-right">
        <div class="img-wrapper">
          <%= image_tag("wishlist.jpg") %>
        </div>
      <div class="text">
        <h1 class="h1text" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">2. Create a Wishlist</h1>
        <p style="transform: translate3d(0px, 0px, 0px); opacity: 1;">Make sure you have the things you want, complete with the wishlist with the items that matter. And set the links for where to buy them.</p>
        <div class="a" style="transform: translate3d(0px, 0px, 0px); opacity: 1;"></div>
      </div>
      </div>
    </div>

   <div class="row">
    <div class="explainer-left">
      <div class="text">
        <h1 class="h1text" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">3. Invite Friends and Family</h1>
        <p style="transform: translate3d(0px, 0px, 0px); opacity: 1;">Send the event to your friends, and watch them join! Simple and easy to track.</p>
        <div class="a" style="transform: translate3d(0px, 0px, 0px); opacity: 1;"></div>
      </div>
        <div class="img-wrapper">
          <%= image_tag("invite2.jpg") %>
        </div>
      </div>
    </div>

 <div class="row">
    <div class="explainer-right">
        <div class="img-wrapper">
          <%= image_tag("commit.jpg") %>
        </div>
      <div class="text">
        <h1 class="h1text" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">4. Commitments Made</h1>
        <p style="transform: translate3d(0px, 0px, 0px); opacity: 1;">See who has committed to get you something that you really want and everyone else who hates you...</p>
        <div class="a" style="transform: translate3d(0px, 0px, 0px); opacity: 1;"></div>
      </div>
      </div>
    </div>

   <div class="row">
    <div class="explainer-left">
      <div class="text">
        <h1 class="h1text" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">5. Repeat</h1>
        <p style="transform: translate3d(0px, 0px, 0px); opacity: 1;">You are now and expert, keep doing it!</p>
        <div class="a" style="transform: translate3d(0px, 0px, 0px); opacity: 1;"></div>
      </div>
        <div class="img-wrapper">
          <%= image_tag("repeat.jpg") %>
        </div>
    </div>
  </div>
</div>
<br>
  <div class="container d-flex" style="flex-direction: column; align-items: center">
      <h1>Create your first event and wishlist</h1>
    <br>
      <button type="button" class="button" style="--bs-btn-padding-y: 15px;"><%= link_to "Create Event!", "/events/new" %></button>
  </div>
  <br>
