<div class="d-flex justify-content-center my-5">
  <div class="col-12 col-lg-6">
    <div class="card text-center">
   
      <div class="Upload Form">
        <div class="card-body">
          <h5 class="card-title">Add some gifts to your wishlist</h5>
            <%= simple_form_for ([@wishlist, GiftsWishlist.new]) do |f|%>
              <%= f.input :gift_id, collection: Gift.all %>
              <hr />
              <%= button_tag(type: 'submit', class: "button") do %>
                  Add to Wishlist
            <% end %>
        <%#= f.button :submit %>
        <%# <%= f.button :submit, class: "buttons" %>
      <% end %>
      </div>
      </div>

      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="#">Wishlist</a>
          </li>
          <%# <li class="nav-item">
            <a class="nav-link" href="#">Event</a>
          </li> %>
        </ul>
      </div>

     
      <div class="tab-pane card-body" id="wish-details" role="tabpanel">
            <h5 class="card-title">Event: <%= @wishlist.name %></h5>
          <div class="card-1" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1512418490979-92798cec1380?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
            <table class="table table-hover" id="table">
              <br>
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Link</th>
                    <th scope="col"></th>
                    <th scope="col">Commit to Buy?</th>

                  </tr>
                </thead>
                <tbody>
              <% @wishlist.gifts_wishlists.each do |gift_wishlist| %>
              <tr class="card-body">
                  <td> <%= gift_wishlist.gift.name %></td>
                  <td> <%= gift_wishlist.gift.description %></td>
                  <td> <%= gift_wishlist.gift.link %></td>
                    <td><%=link_to "See your gift",  gift_path(gift_wishlist.gift) %></td>
                    <td><%= simple_form_for [@wishlist, @current_user_commit] do |f| %>
                    <%= f.hidden_field :gift_id, value: gift_wishlist.gift.id  %>
                    <%= f.hidden_field :is_commited, value: true %>
                    <%= f.submit "I'll get this", class: "small-button", disable_with: true unless gift_wishlist.gift.usercommits.empty? %>
                    <% end %>
                    </td>
              <% end %>
                </tr>
                </table>
              </div>
            </div>
        <button class="button" type="button"><%= link_to "Back to Events", "/events" %>
        <button class="button" type="button"><%= link_to "Delete Event", event_path(@event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </div>
    </div>
</div>
          </div>
      </div>
    </div>