<div class="d-flex justify-content-center my-5">
  <div class="col-12 col-lg-6">
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="#">Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Event</a>
          </li>
        </ul>
      </div>
      <div class="Upload Form">
        <div class="card-body">
          <h5 class="card-title">Add some gifts to your wishlist</h5>
      <%= simple_form_for ([@wishlist, GiftsWishlist.new]) do |f|%>
        <%= f.input :gift_id, collection: Gift.all %>
        <button type="button" class="buttons"><%= f.button :submit %>
        <%# <%= f.button :submit, class: "buttons" %>
      <% end %>
      </div>
      </div>
      <div class="tab-pane card-body" id="wish-details" role="tabpanel">
            <h5 class="card-title">Title: <%= @wishlist.name %></h5>
            <table>
              <br>
                <thead>
                  <tr>
                    <th>name</th>
                    <th>description</th>
                    <th>link</th>
                  </tr>
                </thead>
                <tbody>
              <% @wishlist.gifts_wishlists.each do |gift_wishlist| %>
              <tr class="card-body">
                <td> <%= gift_wishlist.gift.name %></td>
                <td> <%= gift_wishlist.gift.description %></td>
                <td> <%= gift_wishlist.gift.link %></td>
                  <td><%=link_to "See your gift",  gift_path(gift_wishlist.gift) %></td>
                  <td><%=  %></td>
                  </tr>
                  <%= simple_form_for [@wishlist, @current_user_commit] do |f| %>
                  <%= f.hidden_field :gift_id, value: gift_wishlist.gift.id  %>
                  <%= f.hidden_field :is_commited, value: true %>
                  <%= f.submit "I'll get this", class: "small-button" %>
                  <% end %>
              <% end %>
            </div>
          </div>
        <button type="button"><%= link_to "Back to Events", "/events" %>
        <button type="button"><%= link_to "Delete Event", event_path(@event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </div>
    </div>
    </div>
  </div>
