<div class="container" data-controller="select">
  <div class="row">
    <div class="col-3">
      <div class="card text-center"><%= "#{@event.title} for #{@event.user.first_name.upcase}" %>
        <p class="card-text"> When -<br> <%= @event.event_date.strftime('%A, %d-%m-%Y').upcase %></p>
        <div class="text-center">
        <button class="button text-center" type="button"><%= link_to "Back to Event", event_path(@event) %></button>
        </div>
      </div>
    </div>
  <div class="col-8" style="background-color:##CCDAD1">
      <div class="card-body">
            <% if current_user == @event.user %>
              <h5 class="card-title">Add some gifts to your wishlist</h5>
              <%= simple_form_for ([@wishlist, GiftsWishlist.new]) do |f|%>
                <%= f.input :gift_id, collection: Gift.all, input_html: { class: 'select2', data: { select_target: "select2"} }  %>
                <%= button_tag(type: 'submit', class: "button") do %>
                  Add to Wishlist
                <% end %>
              <% end %>
            <% end %>
        </div>
        <% if @wishlist.gifts_wishlists.empty?%>
              <h2> Add some gifts </h2>
              <% else %>
    <div class="container">
        <div class="row">
          <% @wishlist.gifts_wishlists.each do |gift_wishlist| %>
          <div class="card col-sm-12 col-md-4 col-lg-4" style="background-color:#ffffff9c" id="gift-card">
            <div class="text-center">
              <%= image_tag gift_wishlist.gift.photo, size: "150x150"%>
            </div>
            <br>
              <div class="text-center">
                <h3><%= gift_wishlist.gift.name %></h3>
                <%=link_to "View Gift",  gift_path(gift_wishlist.gift) %>
              </div>
                <% if gift_wishlist.gift.usercommits.empty? %>
                  <%= simple_form_for [@wishlist, @current_user_commit] do |f| %>
                    <%= f.hidden_field :gift_id, value: gift_wishlist.gift.id  %>
                    <%= f.hidden_field :is_commited, value: true %>
                    <div class="text-center">
                      <%= f.submit "I'll get this", class: "button", disable_with: true %>
                    </div>
                  <% end %>
              <% else %>
                <div class="text-center">
                  <div class="button text-center d-flex justify-content-center align-items-center">
                  <%= link_to "Not Getting",
                    usercommit_path(Usercommit.where(user: current_user, gift: gift_wishlist.gift).first),
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
                  </div>
                </div>
              <% end %>
            </div>
            <% end %>
        </div>
    </div>
            <% end %>
    </div>
  </div>
</div>
