<div class="d-flex justify-content-center my-5">
  <div class="col-12 col-lg-6">
    <div class="card text-center">
      <div class="Upload Form">
        <div class="card-body">
          <h5 class="card-title">Add some gifts to your wishlist</h5>
            <%= simple_form_for ([@wishlist, GiftsWishlist.new]) do |f|%>
              <%= f.input :gift_id, collection: Gift.all %>
              <hr />
              <%= button_tag(type: 'submit', class: "button") do %>
                  Add to Wishlist
            <% end %>
        <%#= f.button :submit %>
        <%# <%= f.button :submit, class: "buttons" %>
      <% end %>
      </div>
      </div>
      <div class="tab-pane card-body" id="wish-details" role="tabpanel">
            <h5 class="card-title">Title: <%= @wishlist.name %></h5>
            <div class="text-center">
            <table>
              <br>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Link</th>
                    <th></th>
                    <th>Bought it yet?</th>
                  </tr>
                </thead>
                <tbody>
              <% @wishlist.gifts_wishlists.each do |gift_wishlist| %>
              <tr class="card-body">

                <td> <%= gift_wishlist.gift.name %></td>
                <td> <%= gift_wishlist.gift.description %></td>
                <td> <%= gift_wishlist.gift.link %></td>
                  <td><%=link_to "See your gift",  gift_path(gift_wishlist.gift) %></td>
                  <td><input type="checkbox" id="commit"></td>
                  <label for="commit">
                  </tr>
              <% end %>
            </div>
        <button class="button" type="button"><%= link_to "Back to Events", "/events" %>
        <button class="button" type="button"><%= link_to "Delete Event", event_path(@event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </div>
    </div>
</div>
